h1{
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #000080;
}

section {
    .gradient {
        background: linear-gradient(to bottom right, blue, pink);
      }
}

ol{
    background-color: aliceblue;
}

h6{
    color:#000080;
}

#unordered-list{
    list-style-type: square;
}

.circle{
    border: 5px solid orangered;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-image: url(https://avatars.githubusercontent.com/u/56071968?v=4);
    background-repeat: no repeat;
    background-size: cover;
}